<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <iisnode 
      loggingEnabled="true"
      logDirectory="logs"
      node_env="production"
      devErrorsEnabled="true"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
    <!-- Absolute path for logs -->
    <rewrite>
      <rules>
        <rule name="NextJsApp">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
